/*
Estilo de pagina  general

*/

*{
    padding: 0px;
    margin: 0px;
}

body, html{
    padding: 0%;
    margin: 0%;
    border: 1px transparent;
    background-image: url("../assets/clouds.gif");
    background-size: cover;
    background-color: #f1f1f1;
    font-size: large;
    height: 110vh;
}

h1{
    color: rgb(255, 238, 252);
    
}

img{
    border-radius: 15%;
    margin-inline: auto;
    width: 100%;
    
}

footer{
    position:fixed 120vh;
    bottom: 0px;
    border: 1px transparent;
    color: #f1f1f1;
}

.secundario{
    display:none;
}


input{
    width: 100%;
    min-height: 30px;
    border:2px solid rgb(200, 153, 202);
    background-color: rgba(249, 227, 255, 0.733);
    border-radius: 25px;
    padding-left: 15px;
}

textarea#mensaje{
    width: 100%;
    min-height: 1.5em;
    border:2px solid rgb(200, 153, 202);
    background-color: rgba(249, 227, 255, 0.733);
    border-radius: 25px;
    padding: 15px;
}

.titulo{
    border: 3px solid rgb(192, 186, 212);
    margin: 1%;
    padding: 3%;
    background-color: rgba(204, 165, 214, 0.6);
    border-radius: 25px;
}

.base{
    border: 3px solid rgb(192, 186, 212);
    margin: 1%;
    padding: 10%;
    background-color: rgba(204, 165, 214, 0.8);
    border-radius: 25px;
}

.baseCarrusel{
    border: 3px solid rgb(192, 186, 212);
    margin: 1%;
    padding: 5%;
    background-color: rgba(204, 165, 214, 0.6);
    border-radius: 25px;
}

.miyu{
    background-color: rgba(249, 227, 255, 0.733);
    border: 6px solid rgb(200, 153, 202);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin: 2vw auto;
    align-items: center;
    padding-top: 18%;
}


.imgLogo{
    width: 40px;
}

#navBtn{
    background-color: transparent;
    color: #f1f1f1;
    width: 15vw;
    height: 10vh;
    border: 1px transparent;
    border-radius: 5px;
    padding: 0.5vw;
}

@media only screen and (max-width: 768px) {
[class*="miyu"] {
    width: 100vw;
    height: 100vw;
  }

[class*="principal"]{
    display: none;
}

[class*="secundario"]{
    display: inline-flex;
    border: 1px transparent;
    padding: 1px;
    margin: 1px;
    width: -webkit-fill-available;
}

[class*="logoNav"]{
    width:10vw;
    border: 1px transparent;
    padding-left: 70vw;
}

[id*="miyuMenu"]{
    float: left;
}
}