/*
Estilo de pagina  general

*/

body, html{
    padding: 0%;
    margin: 0%;
    border: 1px rgb(200, 141, 83);
    background-image: url("../assets/clouds.gif");
    background-size: cover;
    background-color: #f1f1f1;
}

h1{
    color: rgb(255, 238, 252);
    
}

footer{
    position:120vh;
    bottom: 0px;
    border: 1px transparent;
    color: #f1f1f1;

}

.titulo{
    border: 3px solid rgb(192, 186, 212);
    margin: 1%;
    padding: 3%;
    background-color: rgba(204, 165, 214, 0.6);
    border-radius: 25px;
}

.base{
    border: 3px solid rgb(192, 186, 212);
    margin: 1%;
    padding: 10%;
    background-color: rgba(204, 165, 214, 0.6);
    border-radius: 25px;
}

.baseCarrusel{
    border: 3px solid rgb(192, 186, 212);
    margin: 1%;
    padding: 5%;
    background-color: rgba(204, 165, 214, 0.6);
    border-radius: 25px;
}

.miyu{
    background-color: rgba(249, 227, 255, 0.733);
    border: 6px solid rgb(200, 153, 202);
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin: 2vw auto;
    align-items: center;
    padding-top: 18%;
}

@media only screen and (max-width: 768px) {
[class*="miyu"] {
    width: 100vw;
    height: 100vw;
  }
}