#root {
  width:100vw;
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #eeeee4e1;
}

body{
  background-color: #012E40;
}
/* Sticky header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color:#064a62;
  color: #eeeee4e1;
  padding: 1%;
  margin:auto;
  margin-bottom: 1vh;
  height: 8vh;
}

/* Header content */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 98%;;
}

header nav a {
  margin-left: 1rem;
  color:#eeeee4e1;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

/* Main content */
main {
  padding: 2rem;
  margin: 1vh auto;
  min-height: 70vh;
  width: 80vw;
  max-width: 1800px;
  background-color:#00b4b4 ;
  border-radius: 5px;;
}

/* Footer */
footer {
  background-color: #012E40 ;
  color:#eeeee4e1;
  text-align: center;
  padding: 1rem;
}
